*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

#menu {
  width: 100%;
  background-color: #2196f3;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 62px;
}

#controls > a {
  color: rgba(255, 255, 255, 0.7);
  padding: 23px;
}

#controls > a.active {
  color: rgba(255, 255, 255, 1);
  background-color: #1e88e5;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  padding: 48px 62px;
  overflow-y: auto;
  height: 80vh;
}

.favouriteImages {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  padding: 48px 62px;
}

.card {
  position: relative;
  width: 225px;
  height: 225px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.like {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
