*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

#menu {
  width: 100%;
  background-color: #2196f3;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 62px;
}

#controls > a {
  color: rgba(255, 255, 255, 0.7);
  padding: 23px;
}

#controls > a.active {
  color: rgba(255, 255, 255, 1);
  background-color: #1e88e5;
}
